:root {
  --light-grey: #f0f0f0;
  --black: #000;
  --white: #FFF;
  --dark-grey: #0f0f0f;
  --dark-blue: #434c5e;
  --dark-blue-2: #313745;
  --brick-red: #dd6969;
  --dark-red: #620000;
  --light-brick-red: #F8ADA8;
  --lime-green: #79e0b7;
  --dark-green: #344e41;
  --light-lime-green: #e9edc9;
}
