.theme__close {
  padding: 0.5rem;
  margin-inline-start: 1rem;
}

.theme__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: space-evenly;
}

.theme__item {
  padding: 1rem;
}

.theme__button__item {
  background-color: var(--tertiary-color);
  padding: 0.5rem 0.75rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
}
