.button__primary {
  background-color: var(--secondary-color);
  color: var(--white-text);
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.button__primary:hover,
.button__primary:focus {
  background-color: var(--tertiary-color);
  color: var(--black-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button__secondary {
  background-color: var(--main-color);
  color: var(--black-text);
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: var(--tertiary-color);
  transition: background-color 0.3s ease-in-out;
}
