.theme__overlay {
  position: fixed;
  visibility: hidden;
  width: fit-content;
  height: fit-content;
  border: .0625rem solid var(--secondary-text-color);
  background-color: var(--secondary-color);
  border-radius: .25rem;
  padding: 0rem;
  right: 1rem;
  bottom: 1rem;
  opacity: 0;
}

.theme__button[type="menu"]:active+.theme__overlay {
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
